.slds-profile {
  background-color: #02505a;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
}

.stretch-width{
  width:100%;
}

.profile-photo {
  border-radius: 50%;
  width: 70px;
}

.font-color-white {
  color: white;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 13px;
}

.slds-border_bottom-white {
  border-bottom: 1px solid white;
}

.insight-icon {
  border-radius: 50%;
  border: 1px solid white;
  height: 25px;
  width: 25px;
}

.value-align-top {
  height: 17px;
}